body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .cart-summary{
    width: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .cart-products{
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  